@model IEnumerable<TEST05.Models.DonHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.MaKhach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKhach">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKhach">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKhach">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
