@model IEnumerable<TEST05.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKhach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKhach">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKhach">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKhach">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
